body {background-color: #1e2c4f; }

/* search elements */
input, select, select > option {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
  background-color:rgba(0, 0, 0, 0.8);
  color: white !important;
  border-radius: 0 !important;
  box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
}

nav {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

nav, footer {
  background: linear-gradient(to right, #2c4072, #091024);
}

footer {
  color: white;
  padding: 1rem;
  font-size: 110%;
  border-top: 1px dashed rgba(0, 0, 0, 0.85);
}


/* accordion */
.accordion { margin: 10px; }
.card-header { background-color: cornsilk; cursor: pointer; }
.card-header:hover { background-color: rgb(241, 234, 203); }
.card-header h1 { color: darkslateblue; text-shadow: 2px 2px 3px #41a8b2; }
.card-content { background-color: honeydew; }

/* album */
#albums_header { color: white; text-shadow: 2px 2px purple; }
.album { color: white; text-shadow: 2px 1px red; }
.album a { text-shadow: none; }
.album a.listen { color: yellow; font-weight: bold; }

/* hover */
.hover-effect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 2px dotted rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px black;
}

.hover-effect img {
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.hover-effect .overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.hover-effect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hover-effect:hover .overlay { opacity: 1; filter: alpha(opacity=100); }

/* bootstrap ... */
.form-group { margin: auto; }